@charset "utf-8";

@font-face {
	
	Font-family:'MiPropiaFuente';
	Src:url('orange.ttf');
	
			}

#titulo {
	width:630px;
	text-align:center;
	margin:15px auto;
	-webkit-transform:scale(2);
	-webkit-transform:scale(2,-1);
	-webkit-transform:rotate(20deg);
	-webkit-transform:skew(30deg);
	
		}
		
#titulo:hover { 
    -webkit-transform:rotate(5deg);
	-webkit-trasition:-webkit-transform 1s ease 0.5s;
}

#titulo {
	Font:bold 150px 'MiPropiaFuente';
	background:-webkit-radial-gradient(center, ellipse, #621C5A, #F80808);
	background:-webkit-linear-gradient(top, #621C5A, #BBF808);
	color:rgba(0, 0, 0, 0.5);
	
}